africastalking
annotated-types
anyio
charset-normalizer
click
dnspython
fastapi
pydantic
python-jose[cryptography]
passlib[cryptography]
sqlalchemy
alembic
uvicorn
python-multipart
email-validator
pydantic-settings
python-dotenv
